@page "/gallery"
@inject IPlantFamilyService _plantFamilyService
@inject IPlantService _plantService

<PageLayout>
    <FirstParagraph Class="page-light p-5" SubTitle="Domaci proizvod" Title="Dugogodisnje Iskustvo" Text="Predstavljamo vam ukrasne biljke vrhunskog kvaliteta. Uzgajano sa paznjom i ljubavlju. Pogledajte nas asortiman i uverite se zasto su nase biljke odlican izbor." />

    <div class="m-5">

        <div class="d-flex flex-row">
            @foreach (var family in plantFamilies)
            {
            <button class="m-2 @SetClassIfSelected(family)" @onclick="@(async () => await SelectPlantsByFamily(family))">
                @family.Name
            </button>
            }
        </div>

        <PlantsDisplay Items="@plants" Context="plant">
            <PlantComponent Plant="@plant" />
        </PlantsDisplay>

    </div>

</PageLayout>

@code {

    private List<PlantFamily> plantFamilies;
    private PlantFamily selectedPlantFamily;

    private List<Plant> plants = new List<Plant>();

    private string SetClassIfSelected(PlantFamily plantFamily)
    {
        return plantFamily.Id == selectedPlantFamily.Id ? "font-weight-bold" : string.Empty;
    }

    private async Task SelectPlantsByFamily(PlantFamily plantFamily)
    {
        selectedPlantFamily = plantFamily;

        plants = await _plantService.GetPlantsByPlantFamily(selectedPlantFamily);
    }

    protected override async Task OnInitializedAsync()
    {
        plantFamilies = await _plantFamilyService.GetPlantFamilies();

        if (selectedPlantFamily == null)
        {
            await SelectPlantsByFamily(plantFamilies.First());
        }

        await base.OnInitializedAsync();
    }
}
